$modalBackColor: #fff;
$modalBorderColor: #ccc;
$modalBoxShadow: 1px 1px 1px black;

.modal {
  position: fixed;
  z-index: 500;
  background-color: $modalBackColor;
  width: 70%;
  border: 1px solid $modalBorderColor;
  box-shadow: $modalBoxShadow;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
