$color-white: #fff;
$color-black: #000;

$buttonFontSize: 1em;
$buttonDangerBackColor: red;
$buttonSuccessBackColor: green;

$calendarMaxWidth: 64em;
$calendarGridGap: 1em;

$reminderColorBlue: blue;
$reminderColorRed: red;
